
    body{
      background-color: lightcyan;
    }
    h1{
      text-decoration: none;
      color: red;
    }
    h3{
      color: red;
    }

    hr{
      border-style: none;
      border-top-style: dotted;
      border-color: gray;
      border-width: 5px;
      width: 5%;
    }
